.fs-10px {
  font-size: 10px;
}

.fs-11px {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13px {
  font-size: 13px;
}

.fs-14px {
  font-size: 14px;
}

.fs-15px {
  font-size: 15px;
}

.fs-16px {
  font-size: 16px;
}

.fs-26px {
  font-size: 26px;
}

.fw-600 {
  font-weight: 600 !important;
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-150px {
  width: 150px;
}

.main-color {
  color: #2E5789;
}

.green-color {
  color: #33B469;
}

.orange-color {
  color: #F99132;
}

.blue-dark-color {
  color: #1E88E5;
}

.color-777 {
  color: #777;
}

.section-bg {
  background-color: #F5F5F5;
}

.section-bg-alt {
  background-color: rgba(30, 136, 229, 0.04);
}

.gap-1px {
  gap: 1px;
}

.normal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 35px;
  gap: 5px;
  line-height: 35px;
  background-color: #fff;
  border: 1px solid #cacaca;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #2B7CD3;
  line-height: 24px;
  transition: 0.3s;
}
.normal-btn img {
  filter: brightness(0) saturate(100%) invert(50%) sepia(54%) saturate(5206%) hue-rotate(195deg) brightness(90%) contrast(83%);
}
.normal-btn:hover {
  background-color: #f3f2f2;
}

.main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 35px;
  gap: 5px;
  line-height: 35px;
  background-color: #2B7CD3;
  border: 1px solid #2B7CD3;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #fff !important;
  line-height: 24px;
  transition: 0.3s;
}
.main-btn img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(163deg) brightness(103%) contrast(103%);
}
.main-btn:hover {
  background-color: #1E88E5;
}

.btn-pill {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 32px;
  line-height: 32px;
  border-radius: 50px;
  background-color: #2B7CD3;
  color: #fff;
}
.btn-pill.green {
  background-color: #33B469;
}
.btn-pill.red {
  background-color: #ED3A3A;
}

.more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 35px;
  gap: 8px;
  line-height: 35px;
  background-color: #fff;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  transition: 0.3s;
}
.more-btn i,
.more-btn svg {
  font-size: 13px;
}
.more-btn:hover {
  background-color: #f3f2f2;
}

.buy-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-weight: 400;
  font-size: 16px;
  background-color: #2b7cd3;
  color: #fff;
  border-radius: 4px;
  transition: 0.3s;
}
.buy-btn:hover {
  background-color: #468edb;
}
.buy-btn.full {
  width: 100%;
  height: 55px;
  line-height: 55px;
  font-weight: 700;
  font-size: 23px;
}
.buy-btn.full span {
  margin-left: 5px;
  font-weight: 400;
  font-size: 18px;
}

.heart-btn,
.share-btn {
  width: 40px;
  height: 40px;
  line-height: 40px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid #e2e2e2;
  border-radius: 4px;
  background-color: #fff;
  background-image: url("../images/icon/heart.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.heart-btn:hover,
.share-btn:hover {
  background-color: #f3f2f2;
}
.heart-btn.active,
.share-btn.active {
  background-image: url("../images/icon/heart-color.png");
}
.heart-btn.full,
.share-btn.full {
  width: 55px;
  height: 55px;
  line-height: 55px;
}

.share-btn {
  background-image: none;
}

.dots-menu {
  display: flex;
  align-items: center;
  gap: 3px;
}
.dots-menu .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #2C2C2C;
}

.header {
  font-weight: 400;
  font-size: 26px;
  line-height: 41px;
  text-align: right;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header .sm {
  font-size: 20px;
  color: #9b9b9b;
}

.sm-header {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #262424;
  text-align: right;
}

.sm-des {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  color: #949494;
}

.main-label {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: black;
  margin-bottom: 10px;
}
.main-label .xl {
  font-size: 20px;
}

.small-label {
  font-weight: 300;
  font-size: 14px;
  text-align: right;
  color: #000000;
  opacity: 0.9;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  padding: 0;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
}
.badge.orange {
  background-color: #ff731d;
}

.title-braek {
  font-weight: 500;
  font-size: 20px;
  text-align: right;
  margin-bottom: 25px;
}

.between-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.box-content {
  background: #fff;
  overflow: hidden;
  border-radius: 8px;
}
.box-content .items {
  background-color: #F5F5F5;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 1px;
}
.box-content .items .item {
  padding: 20px;
  background-color: #fff;
}
.box-content .items .item .title {
  margin-bottom: 10px;
}
.box-content .items .item .title.sm {
  font-size: 14px;
}
.box-content .items .item .title.md {
  font-size: 16px;
  font-weight: 500;
}
.box-content .items .item .title.lg {
  font-weight: 600;
  font-size: 22px;
}
.box-content .items .item .title.xl {
  font-weight: 600;
  font-size: 27px;
}
.box-content .items .item .title.gray {
  color: #9d9d9d;
}
.box-content .items .item .title.black {
  color: #0f0a0a;
}
.box-content .items .item .price {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #2B7CD3;
}
.box-content .items .item .price span {
  font-weight: normal;
  font-size: 20px;
}
.box-content .items .item .link {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  color: #2B7CD3 !important;
}
.box-content .items .item .link .icon {
  width: 56px;
  height: auto;
  margin: 0 auto;
  font-size: 56px;
  margin-bottom: 14px;
}
.box-content .items.items-money .item-1,
.box-content .items.items-money .item-2 {
  width: calc(22.5% - 0.5px);
}
.box-content .items.items-money .item-3 {
  width: calc(55% - 1px);
}
@media (max-width: 991.98px) {
  .box-content .items.items-money .item-1,
  .box-content .items.items-money .item-2 {
    width: calc(50% - 0.5px);
  }
  .box-content .items.items-money .item-3 {
    width: 100%;
  }
}
.box-content .items.items-data .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(33.3333333333% - 0.6666666667px);
}
.box-content .items.items-data .item-before-prog {
  width: calc(33.3333333333% - 0.5px);
}
.box-content .items.items-data .item-prog {
  width: calc(66.6666666667% - 0.5px);
  display: block;
}
@media (max-width: 991.98px) {
  .box-content .items.items-data .item {
    width: calc(50% - 0.5px);
  }
  .box-content .items.items-data .item-prog {
    width: 100%;
  }
}
.box-content .main-btn {
  height: 45px;
  width: 200px;
}
@media (max-width: 991.98px) {
  .box-content .main-btn {
    padding: 0.4rem 1rem;
    width: auto;
    height: auto;
  }
}
.box-content.items-money .item-1,
.box-content.items-money .item-2 {
  width: calc(22.5% - 0.5px);
}
.box-content.items-money .item-3 {
  width: calc(55% - 1px);
}
@media (max-width: 991.98px) {
  .box-content.items-money .item-1,
  .box-content.items-money .item-2 {
    width: calc(50% - 0.5px);
  }
  .box-content.items-money .item-3 {
    width: 100%;
  }
}

.main-prog {
  height: 8px;
  width: 100%;
  overflow: hidden;
  border-radius: 50px;
  background-color: #e7e7e7;
}
.main-prog .child-prog {
  border-radius: 50px;
  background-color: #33b469;
  height: 100%;
}
.main-prog .child-prog.yellow {
  background-color: #fb9702;
}

.main-hr {
  background-color: #dedede;
  display: block;
  width: 100%;
  height: 1px;
}

.instructions-box {
  color: #000000;
}
.instructions-box .title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 1rem;
}
.instructions-box .text {
  opacity: 0.5;
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-size: 14px;
}
.instructions-box .title-sm {
  font-weight: 400;
  font-size: 15px;
}
.instructions-box .img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.vendor-tabs {
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  gap: 1rem;
  padding: 20px 20px 0;
}
.vendor-tabs .nav-link {
  padding: 0 1rem 20px !important;
  border: none !important;
  color: #828282 !important;
  font-weight: 600;
  font-size: 16px;
  position: relative;
}
.vendor-tabs .nav-link::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #2b7cd3;
  left: 0;
  opacity: 0;
  transition: 300ms;
  border-radius: 20px;
  bottom: 0;
  width: 100%;
}
.vendor-tabs .nav-link.active {
  color: black !important;
}
.vendor-tabs .nav-link.active::after {
  opacity: 1;
}

.box-contracts {
  border: 1px solid #dadada;
  border-radius: 4px;
  overflow: hidden;
}
.box-contracts .img-cover {
  width: 100%;
  height: 165px;
}
.box-contracts .img-cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.box-contracts .content {
  padding: 15px;
}
.box-contracts .content .title {
  font-weight: 600;
  font-size: 16px;
  color: black;
  margin-bottom: 3px;
}
.box-contracts .content .des {
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 15px;
  color: black;
  opacity: 0.5;
}
.box-contracts .content .price {
  font-weight: 600;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 6px;
  color: rgba(0, 0, 0, 0.5);
}
.box-contracts .content .price span {
  font-size: 18px;
  color: black;
  font-weight: bold;
  opacity: 1;
}

.link-add {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  color: #2B7CD3 !important;
}
.link-add .icon {
  width: 65px;
  height: auto;
  margin: 0 auto;
  font-size: 56px;
  margin-bottom: 14px;
}

.main-alert {
  background-color: #fbfbfb;
  padding: 20px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 17px;
  color: black;
}
.main-alert span {
  opacity: 0.5;
}

.main-link {
  font-weight: 400;
  font-size: 15px;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  gap: 12px;
  color: #2B7CD3 !important;
}

.input-custom {
  width: 100%;
}
.input-custom span {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: black;
  margin-bottom: 10px;
}
.input-custom input,
.input-custom select,
.input-custom textarea {
  width: 100%;
  border: 1px solid #cecece;
  border-radius: 4px;
  padding: 12px 14px;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: 0.3s;
}
.input-custom input::-moz-placeholder, .input-custom select::-moz-placeholder, .input-custom textarea::-moz-placeholder {
  -moz-transition: 0.3s;
  transition: 0.3s;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  letter-spacing: 0.015em;
  color: #797979;
}
.input-custom input::placeholder,
.input-custom select::placeholder,
.input-custom textarea::placeholder {
  transition: 0.3s;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  letter-spacing: 0.015em;
  color: #797979;
}
.input-custom input:focus,
.input-custom select:focus,
.input-custom textarea:focus {
  border-color: #2E5789;
}
.input-custom .input-box {
  position: relative;
}
.input-custom .input-box input,
.input-custom .input-box select {
  padding-left: 30px;
}
.input-custom .input-box select {
  font-weight: 400;
  font-size: 14px;
  color: #797979;
}
.input-custom .input-box textarea {
  height: 150px;
}
.input-custom .input-box img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  filter: brightness(0) saturate(100%) invert(62%) sepia(0%) saturate(19%) hue-rotate(209deg) brightness(110%) contrast(112%);
}
.input-custom .input-box .text {
  position: absolute;
  left: 10px;
  top: 50%;
  font-weight: 400;
  font-size: 16px;
  transform: translateY(-50%);
}
.input-custom .input-box .arrow {
  position: absolute;
  color: #0f0a0a;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: auto;
}

.box-search {
  position: relative;
  width: 500px;
}
.box-search input {
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 11px 14px;
  padding-right: 38px;
  transition: 0.3s;
}
.box-search input::-moz-placeholder {
  -moz-transition: 0.3s;
  transition: 0.3s;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  letter-spacing: 0.015em;
  color: #797979;
}
.box-search input::placeholder {
  transition: 0.3s;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  letter-spacing: 0.015em;
  color: #797979;
}
.box-search input:focus {
  border-color: #2E5789;
}
.box-search img {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.form-switch {
  padding-right: 0em;
  margin-bottom: 0;
}
.form-switch .form-check-label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.form-switch .form-check-label .form-check-input {
  width: 45px;
  height: 25px;
  float: left;
}
.form-switch .form-check-label .form-check-input:checked {
  border-color: #00d215;
  background-color: #00d215;
}
.form-switch .form-check-label .form-check-input:focus {
  border-color: hsl(126, 98.36%, 76.08%);
  box-shadow: 0 0 0 0.25rem hsla(126, 98.36%, 52.16%, 0.25);
}
.form-switch .form-check-label span {
  padding-left: 2em;
  font-weight: 400;
  font-size: 18px;
}

.form-select {
  border: 1px solid #e0e0e0 !important;
  border-radius: 4px !important;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  color: #000000;
}

.inp-check {
  height: 18px;
  position: relative;
  width: 18px;
}
.inp-check:before {
  content: "";
  width: 22px;
  height: 22px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border: 1px solid #acacac;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}
.inp-check:checked::before {
  background: #00d215;
  border-color: #00d215;
}
.inp-check:checked::after {
  content: "";
  width: 8px;
  height: 14px;
  left: 19%;
  top: 50%;
  position: absolute;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg) translate(-50%, -50%);
}

.custom-file-upload {
  border: 2px dashed #cdcdcd;
  border-radius: 4px;
  padding: 20px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.custom-file-upload .content-box .title {
  font-weight: 400;
  font-size: 16px;
  color: black;
  margin-bottom: 0px;
}
.custom-file-upload .content-box .text {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  color: black;
  opacity: 0.5;
}
.custom-file-upload .content-box .btn-file {
  border: 0;
  outline: 0;
  background: #2B7CD3;
  border-radius: 4px;
  padding: 0.6rem 1rem;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  gap: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.custom-file-upload .content-box .btn-file .img {
  width: 20px;
  height: auto;
}
.custom-file-upload .content-box .btn-file input {
  display: none;
}
.custom-file-upload > img {
  width: 164px;
  height: 106px;
  -o-object-fit: cover;
     object-fit: cover;
}

.inp-radio {
  width: 22px;
  height: 22px;
}

.custom-check {
  position: relative;
  width: 24px;
  height: 24px;
  border: 1px solid #ACACAC;
  border-radius: 4px !important;
}
.custom-check::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #00D215;
  background-image: url("../../../images/icon/true-mark.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 19px;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
.custom-check:focus {
  border-color: #86fe92;
  box-shadow: 0 0 0 0.25rem hsla(126, 98.36%, 52.16%, 0.25);
}
.custom-check:checked {
  border-color: #00D215;
  background-color: #00D215;
  background-image: none !important;
}
.custom-check:checked:focus {
  box-shadow: 0 0 0 0.25rem hsla(126, 98.36%, 52.16%, 0.25);
}
.custom-check:checked::before {
  opacity: 1;
  visibility: visible;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Cairo", sans-serif;
  font-size: 14px;
  color: #181818;
}

ul {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

a {
  text-decoration: none;
  color: #181818;
}
a:hover {
  color: #181818;
}

button {
  border: none;
  outline: none;
}

input:focus,
select:focus {
  outline: none;
}

input {
  direction: rtl !important;
}
input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
input:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
}

.right-side {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
}
.right-side .user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  margin-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
}
.right-side .user-info .img-holder {
  margin-bottom: 15px;
}
.right-side .user-info .img-holder img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
}
.right-side .user-info .name {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  text-decoration-line: underline;
  color: #181818;
}
.right-side .brake-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: right;
}
.right-side .blocks-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 10px;
}
@media (min-width: 992px) {
  .right-side .blocks-section {
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  }
}
.right-side .blocks-section .box-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 15px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  background-color: #fff;
  transition: background-color, border, 0.3s;
}
.right-side .blocks-section .box-section img {
  transition: 0.3s;
}
.right-side .blocks-section .box-section .name {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #5b5b5b;
  transition: color 0.3s;
}
.right-side .blocks-section .box-section:hover {
  background-color: #2B7CD3;
  border-color: #2B7CD3;
}
.right-side .blocks-section .box-section:hover img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(354deg) brightness(101%) contrast(102%);
}
.right-side .blocks-section .box-section:hover .name {
  color: #fff;
}

.content-side {
  padding: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
}

.profile-nav .nav-link {
  border: 0;
  border-bottom: 1px solid #d6d6d6;
  border-radius: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #262424;
}
.profile-nav .nav-link.active {
  border-bottom-color: #2B7CD3;
  color: #2B7CD3;
}

.tab-pane {
  padding: 20px;
}

.box-photo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.box-photo .img-holder img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.box-attache {
  position: relative;
  width: 100%;
  padding: 20px;
  border: 1px solid #cecece;
  border-radius: 4px;
  height: 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.box-attache [type=file] {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.box-attache p {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
.box-attache p span {
  font-weight: 500;
  font-size: 12px;
}

.main-table {
  width: 100%;
  border-radius: 8px 8px 0px 0px;
  border: 1px solid #e0e0e0;
}
.main-table thead {
  background: #f9fafc;
}
.main-table thead tr th {
  padding: 12px 13px;
  font-weight: 500;
  font-size: 16px;
  text-align: right;
}
.main-table tbody {
  background: #fff;
}
.main-table tbody tr td {
  padding: 10px 13px;
  font-weight: 500;
  font-size: 14px;
  color: #7d7d7d;
}
.main-table tbody tr td .form-check .form-check-input {
  width: 3.4em !important;
  height: 1.7em;
}

.box-member .img-cover {
  border-radius: 4px 4px 0px 0px;
  width: 100%;
  height: 145px;
}
.box-member .img-cover img {
  border-radius: 4px 4px 0px 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.box-member .content {
  border: 0.5px solid #e7e6e6;
  padding: 15px;
  border-radius: 0px 0px 4px 4px;
}
.box-member .content .member {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 12px;
}
.box-member .content .member .img-holder img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.box-member .content .member .info .name {
  font-weight: 400;
  font-size: 16px;
  text-align: right;
}
.box-member .content .member .info .job {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 14px;
  text-align: right;
  color: #949494;
}
.box-member .content .des {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 12px;
  text-align: right;
}
.box-member .content .bar-more {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid #eee;
  padding-bottom: 5px;
}
.box-member .content .bar-more .rate {
  font-weight: 600;
  font-size: 17px;
}
.box-member .content .bar-more .rate small {
  font-weight: 500;
  font-size: 13px;
  opacity: 0.5;
}
.box-member .content .buy-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box-member .content .buy-bar .btn-holder {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}
.box-member .content .buy-bar .price {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 24px;
}

.breadcrumb .breadcrumb-item a {
  font-weight: 500;
  font-size: 20px;
  text-align: right;
  color: rgba(24, 24, 24, 0.5019607843);
}
.breadcrumb .breadcrumb-item.active {
  color: #212121;
  font-weight: 600;
  font-size: 20px;
  padding-right: 2px;
}
.breadcrumb .breadcrumb-item.active::before {
  content: "" !important;
  background-image: url("../images/icon/arrow-left.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 8px;
  height: 100%;
  width: 20px;
  padding-left: 28px;
}

.box-service .name {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 20px;
  text-align: right;
}
.box-service .member {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}
.box-service .member .img-holder img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.box-service .member .info .dep {
  font-size: 18px;
  color: #000000;
  opacity: 0.5;
}
.box-service .member .info .top-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 10px;
}
.box-service .member .info .top-bar .name {
  font-weight: 600;
  font-size: 17px;
  text-align: right;
  margin-bottom: 0;
}
.box-service .member .info .top-bar span {
  display: inline-block;
  opacity: 0.2;
}
.box-service .member .info .top-bar .not {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 13px;
  text-align: right;
  color: #000000;
  opacity: 0.5;
}
.box-service .member .info .job {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 15px;
  text-align: right;
  color: #949494;
}
.box-service .img-cover {
  border-radius: 4px;
  width: 100%;
  height: 230px;
  margin-bottom: 15px;
}
.box-service .img-cover img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.box-service .break-title {
  margin-bottom: 7px;
  font-weight: 600;
  font-size: 21px;
  text-align: right;
}
.box-service .des {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  text-align: right;
  color: #777;
  margin-bottom: 35px;
}
.box-service .btn-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}

.content-gray {
  padding: 20px;
  background: #fafafa;
  border-radius: 8px;
}
.content-gray .serves-info img {
  width: 96px;
  height: 65px;
  border-radius: 4px;
}
.content-gray .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-gray .price .name {
  font-weight: 400;
  font-size: 20px;
  text-align: right;
  margin-bottom: 0;
}
.content-gray .price .pr {
  font-weight: 700;
  font-size: 24px;
  text-align: left;
  margin-bottom: 0;
}
.content-gray .options {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-gray .options .holder {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.content-gray .options .holder i,
.content-gray .options .holder svg {
  font-size: 18px;
  margin-top: 5px;
}
.content-gray .options .holder .name {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: right;
  margin-bottom: 0;
}
.content-gray .options .holder .name small {
  opacity: 0.5;
}
.content-gray .options .holder.type {
  align-items: center;
}
.content-gray .options .holder.type .name {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
}
.content-gray .options .inp-holder .form-check-input {
  width: 20px;
  height: 20px;
}
.content-gray .btn-chat {
  width: 100%;
  height: 56px;
  line-height: 56px;
  border: 1px solid #2b7cd3;
  color: #2b7cd3;
  background-color: #fff;
  transition: 0.3s;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
.content-gray .btn-chat img {
  margin-left: 4px;
}
.content-gray .btn-chat:hover {
  background-color: #2b7cd3;
  color: #fff;
}
.content-gray .btn-chat:hover img {
  filter: brightness(0) saturate(100%) invert(94%) sepia(0%) saturate(7500%) hue-rotate(145deg) brightness(115%) contrast(105%);
}
.content-gray .full-mark {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.content-gray .full-mark p {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 28px;
  color: #fb9702;
}

.box-pay {
  padding: 20px;
}
.box-pay .name {
  font-weight: 500;
  font-size: 24px;
  text-align: right;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1019607843);
  padding-bottom: 30px;
  margin-bottom: 40px;
}
.box-pay .pay-btn {
  position: relative;
  width: 100%;
  height: 56px;
  line-height: 56px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #2b7cd3;
  transition: 0.3s;
  border-radius: 4px;
}
.box-pay .pay-btn:hover {
  background-color: #1E88E5;
}
.box-pay .pay-btn .icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.box-pay .par-image {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.box-pay .par-image img {
  width: 45px;
}

.main-nav {
  background-color: #fff;
}
.main-nav h1 .navbar-brand img {
  width: 187px;
  height: 50px;
}
.main-nav .navbar-toggler {
  padding: 0;
  border: 0px;
}
.main-nav .navbar-toggler:focus {
  box-shadow: none;
}
.main-nav .navbar-toggler i,
.main-nav .navbar-toggler svg {
  font-size: 31px;
}
.main-nav .nav-item.dropdown.dropdown-toggle {
  font-size: 100px;
}
.main-nav .nav-item.dropdown.dropdown-toggle::after {
  display: none !important;
}
.main-nav .navbar-collapse .navbar-nav {
  flex: 1;
  justify-content: flex-start;
}
.main-nav .navbar-collapse .navbar-nav .nav-item .nav-link {
  position: relative;
  font-size: 16px;
  padding: 8px 12px;
  font-weight: 600;
}
.main-nav .navbar-collapse .navbar-nav .nav-item .nav-link.dropdown-toggle i, .main-nav .navbar-collapse .navbar-nav .nav-item .nav-link.dropdown-toggle svg {
  margin-right: 2px;
  font-size: 12px;
}
.main-nav .navbar-collapse .navbar-nav .nav-item .nav-link.dropdown-toggle::after {
  display: none !important;
}
.main-nav .navbar-collapse .navbar-nav .nav-item .nav-link.active {
  color: #2E5789;
}
.main-nav .btn-holder .btn-sign {
  width: 132px;
  height: 44px;
  border: 1px solid #3f3f3f;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  background-color: #3F3F3F;
  transition: 0.3s;
}
.main-nav .btn-holder .btn-sign:first-child:hover {
  background-color: transparent;
  color: #3F3F3F;
}
.main-nav .btn-holder .btn-sign:last-child {
  background-color: transparent;
  color: #3F3F3F;
}
.main-nav .btn-holder .btn-sign:last-child:hover {
  background-color: #3F3F3F !important;
  color: #fff !important;
}
.main-nav .options-holder {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}
.main-nav .options-holder .nav-item .nav-link.dropdown-toggle::after {
  display: none !important;
}
.main-nav .options-holder .nav-item .nav-link .user-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.land-section {
  height: calc(100vh - 66px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.land-section .box-content {
  padding: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  text-align: center;
  background-color: #ebebeb;
}
.land-section .box-content .title {
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 25px;
}
.land-section .box-content .des {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
  color: #000000;
  opacity: 0.8;
}
.land-section .box-content .btn-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.land-section .box-content .btn-holder .start-btn {
  width: 300px;
  max-width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 44px;
  background-color: #3f3f3f;
  color: #fff;
  border-radius: 50px;
  font-weight: 500;
  font-size: 16px;
}
.land-section .box-content.dark {
  background-color: #c5c5c5;
}
@media (max-width: 767.98px) {
  .land-section {
    flex-direction: column;
  }
}

.section-template .edit-img {
  display: flex;
  align-items: end;
  padding: 12px;
  position: relative;
  width: 180px;
  height: 220px;
  z-index: 1;
}
.section-template .edit-img img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}
.section-template .check-img .logo {
  width: 32px;
  height: auto;
}

.section-instructions .img-bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}/*# sourceMappingURL=main.css.map */