.between-box {
    @include flex-between;
}
.box-content {
    background: $white-color;
    overflow: hidden;
    border-radius: 8px;
    .items {
        background-color: $bg-section-main;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        gap: 1px;
        .item {
            padding: 20px;
            background-color: $white-color;
            .title {
                margin-bottom: 10px;
                &.sm {
                    font-size: 14px;
                }
                &.md {
                    font-size: 16px;
                    font-weight: 500;
                }
                &.lg {
                    font-weight: 600;
                    font-size: 22px;
                }
                &.xl {
                    font-weight: 600;
                    font-size: 27px;
                }
                &.gray {
                    color: #9d9d9d;
                }
                &.black {
                    color: #0f0a0a;
                }
            }
            .price {
                font-weight: 700;
                font-size: 32px;
                line-height: 48px;
                color: $blue-color;
                span {
                    font-weight: normal;
                    font-size: 20px;
                }
            }
            .link {
                .icon {
                    width: 56px;
                    height: auto;
                    margin: 0 auto;
                    font-size: 56px;
                    margin-bottom: 14px;
                }
                display: flex;
                flex-direction: column;
                align-items: center;
                font-weight: 500;
                font-size: 16px;
                color: $blue-color !important;
            }
        }
        &.items-money {
            .item-1,
            .item-2 {
                width: calc(22.5% - 0.5px);
            }
            .item-3 {
                width: calc(55% - 1px);
            }
            @include maxWidth(md) {
                .item-1,
                .item-2 {
                    width: calc(50% - 0.5px);
                }
                .item-3 {
                    width: calc(100%);
                }
            }
        }
        &.items-data {
            .item {
                width: calc((100% / 3) - (2px / 3));
            }
            .item-before-prog {
                width: calc((100% / 3) - 0.5px);
            }
            .item-prog {
                width: calc((100% / 3 * 2) - 0.5px);
            }
            @include maxWidth(md) {
                .item {
                    width: calc(50% - 0.5px);
                }
                .item-prog {
                    width: 100%;
                }
            }
        }
    }
    .main-btn {
        height: 45px;
        width: 200px;
        @include maxWidth(md) {
            padding: 0.4rem 1rem;
            width: auto;
            height: auto;
        }
    }
}

.main-prog {
  height: 8px;
  width: 100%;
  overflow: hidden;
  border-radius: 50px;
  background-color: #E7E7E7;
  .child-prog {
    border-radius: 50px;
    background-color: #33B469;
    height: 100%;
    &.yellow {
      background-color: #FB9702;
    }
  }
}