.between-box {
    @include flex-between;
    flex-wrap: wrap;
    gap: 20px;
}

.box-content {
    background: $white-color;
    overflow: hidden;
    border-radius: 8px;
    .items {
        background-color: $bg-section-main;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        gap: 1px;
        .item {
            padding: 20px;
            background-color: $white-color;
            .title {
                margin-bottom: 10px;
                &.sm {
                    font-size: 14px;
                }
                &.md {
                    font-size: 16px;
                    font-weight: 500;
                }
                &.lg {
                    font-weight: 600;
                    font-size: 22px;
                }
                &.xl {
                    font-weight: 600;
                    font-size: 27px;
                }
                &.gray {
                    color: #9d9d9d;
                }
                &.black {
                    color: #0f0a0a;
                }
            }
            .price {
                font-weight: 700;
                font-size: 32px;
                line-height: 48px;
                color: $blue-color;
                span {
                    font-weight: normal;
                    font-size: 20px;
                }
            }
            .link {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100%;
                width: 100%;
                font-weight: 600;
                font-size: 16px;
                color: $blue-color !important;
                .icon {
                    width: 56px;
                    height: auto;
                    margin: 0 auto;
                    font-size: 56px;
                    margin-bottom: 14px;
                }
            }
        }
        &.items-money {
            .item-1,
            .item-2 {
                width: calc(22.5% - 0.5px);
            }
            .item-3 {
                width: calc(55% - 1px);
            }
            @include maxWidth(md) {
                .item-1,
                .item-2 {
                    width: calc(50% - 0.5px);
                }
                .item-3 {
                    width: calc(100%);
                }
            }
        }
        &.items-data {
            .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: calc((100% / 3) - (2px / 3));
            }
            .item-before-prog {
                width: calc((100% / 3) - 0.5px);
            }
            .item-prog {
                width: calc((100% / 3 * 2) - 0.5px);
                display: block;
            }
            @include maxWidth(md) {
                .item {
                    width: calc(50% - 0.5px);
                }
                .item-prog {
                    width: 100%;
                }
            }
        }
    }
    .main-btn {
        height: 45px;
        width: 200px;
        @include maxWidth(md) {
            padding: 0.4rem 1rem;
            width: auto;
            height: auto;
        }
    }
    &.items-money {
        .item-1,
        .item-2 {
            width: calc(22.5% - 0.5px);
        }
        .item-3 {
            width: calc(55% - 1px);
        }
        @include maxWidth(md) {
            .item-1,
            .item-2 {
                width: calc(50% - 0.5px);
            }
            .item-3 {
                width: calc(100%);
            }
        }
    }
}

.main-prog {
    height: 8px;
    width: 100%;
    overflow: hidden;
    border-radius: 50px;
    background-color: #e7e7e7;
    .child-prog {
        border-radius: 50px;
        background-color: #33b469;
        height: 100%;
        &.yellow {
            background-color: #fb9702;
        }
    }
}

.main-hr {
    background-color: #E4E4E4;
    display: block;
    width: 100%;
    height: 1px;
}

.instructions-box {
    color: #000000;
    .title {
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 1rem;
    }
    .text {
        opacity: 0.5;
        margin-bottom: 1.5rem;
        font-weight: 400;
        font-size: 14px;
    }
    .title-sm {
        font-weight: 400;
        font-size: 15px;
    }
    .img {
        width: 40px;
        height: 40px;
        object-fit: cover;
    }
}

.vendor-tabs {
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    gap: 1rem;
    padding: 20px 20px 0;
    .nav-link {
        padding: 0 1rem 20px !important;
        border: none !important;
        color: #828282 !important;
        font-weight: 600;
        font-size: 16px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            height: 3px;
            background-color: #2b7cd3;
            left: 0;
            opacity: 0;
            transition: 300ms;
            border-radius: 20px;
            bottom: 0;
            width: 100%;
        }
        &.active {
            color: black !important;
            &::after {
                opacity: 1;
            }
        }
    }
}

.box-contracts {
    border: 1px solid #dadada;
    border-radius: 4px;
    overflow: hidden;
    .img-cover {
        width: 100%;
        height: 165px;
        img {
            @include cover-img;
        }
    }
    .content {
        padding: 15px;
        .title {
            font-weight: 600;
            font-size: 16px;
            color: black;
            margin-bottom: 3px;
        }
        .des {
            font-weight: 600;
            font-size: 13px;
            margin-bottom: 15px;
            color: black;
            opacity: 0.5;
        }
        .price {
            font-weight: 600;
            font-size: 13px;
            display: flex;
            align-items: center;
            gap: 6px;
            color: rgba(0, 0, 0, 0.5);
            span {
                font-size: 18px;
                color: black;
                font-weight: bold;
                opacity: 1;
            }
        }
    }
}
.link-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    color: $blue-color !important;
    .icon {
        width: 65px;
        height: auto;
        margin: 0 auto;
        font-size: 56px;
        margin-bottom: 14px;
    }
}

.main-alert {
    background-color: #fbfbfb;
    padding: 20px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 17px;
    color: black;
    span {
        opacity: 0.5;
    }
}

.main-link {
    font-weight: 400;
font-size: 15px;
display: flex;
align-items: center;
width: fit-content;
margin: 0 auto;
gap: 12px;
color: $blue-color !important;
}