.normal-btn {
  @include flex-center;
  width: 96px;
  height: 35px;
  gap: 5px;
  line-height: 35px;
  background-color: $white-color;
  border: 1px solid #cacaca;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: $blue-color;
  line-height: 24px;
  transition: $sm-transition;
  img {
    filter: brightness(0) saturate(100%) invert(50%) sepia(54%) saturate(5206%)
      hue-rotate(195deg) brightness(90%) contrast(83%);
  }
  &:hover {
    background-color: #f3f2f2;
  }
}
.main-btn {
  @include flex-center;
  width: 130px;
  height: 35px;
  gap: 5px;
  line-height: 35px;
  background-color: $blue-color;
  border: 1px solid $blue-color;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: $white-color !important;
  line-height: 24px;
  transition: $sm-transition;
  img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
      hue-rotate(163deg) brightness(103%) contrast(103%);
  }
  &:hover {
    background-color: $blue-dark-color;
  }
}

.btn-pill {
  @include flex-center;
  width: 100px;
  height: 32px;
  line-height: 32px;
  border-radius: 50px;
  background-color: $blue-color;
  color: $white-color;
  &.green {
    background-color: $green-color;
  }
  &.red {
    background-color: $red-color;
  }
}

.more-btn {
  @include flex-center;
  width: 80px;
  height: 35px;
  gap: 8px;
  line-height: 35px;
  background-color: $white-color;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  transition: $sm-transition;
  i,
  svg {
    font-size: 13px;
  }
  &:hover {
    background-color: #f3f2f2;
  }
}

.buy-btn {
  @include flex-center;
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-weight: 400;
  font-size: 16px;
  background-color: #2b7cd3;
  color: $white-color;
  border-radius: 4px;
  transition: $sm-transition;
  &:hover {
    background-color: #468edb;
  }
  &.full {
    width: 100%;
    height: 55px;
    line-height: 55px;
    font-weight: 700;
    font-size: 23px;
    span {
      margin-left: 5px;
      font-weight: 400;
      font-size: 18px;
    }
  }
}

.heart-btn,
.share-btn {
  width: 40px;
  height: 40px;
  line-height: 40px;
  transition: $sm-transition;
  @include flex-center;
  border: 0.5px solid #e2e2e2;
  border-radius: 4px;
  background-color: $white-color;
  background-image: url("../images/icon/heart.png");
  background-repeat: no-repeat;
  background-position: center center;
  &:hover {
    background-color: #f3f2f2;
  }
  &.active {
    background-image: url("../images/icon/heart-color.png");
  }
  &.full {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
}

.share-btn {
  background-image: none;
}
.dots-menu {
  display: flex;
  align-items: center;
  gap:3px;
  .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #2C2C2C;
  }
}