.input-custom {
  width: 100%;
  span {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #262424;
    margin-bottom: 10px;
  }
  input {
    width: 100%;
    border: 1px solid #cecece;
    border-radius: 4px;
    padding: 8px 14px;
    transition: $sm-transition;
    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      text-align: right;
      letter-spacing: 0.015em;
      color: #797979;
    }
    &:focus {
      border-color: $main-color;
    }
  }
  .input-box {
    position: relative;
    input {
      padding-left: 30px;
    }
    img {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
