// heading Text Style
.header {
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
  text-align: right;
  margin-bottom: 25px;
}

.sm-header {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #262424;
  text-align: right;
}



// Description Text Style
.sm-des {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  color: #949494;
}


// Labels Text Style
.main-label {
  
}