* {
  @include reset-all;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-family: "Cairo", sans-serif;
  font-size: 14px;
  color: $main-text-color;
}
// reset Ul
ul {
  @include reset-ul;
}
// reset Link
a {
  @include a-reset;
}
// reset btn
button {
  border: none;
  outline: none;
}
// Reset Input
input:focus,
select:focus {
  outline: none;
}
// custom Input
input {
  direction: rtl !important;
  &:focus::placeholder {
    opacity: 0;
    transition: $sm-transition;
  }
}

.right-side {
  padding: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  .user-info {
    @include center-column;
    padding-bottom: 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;
    .img-holder {
      margin-bottom: 15px;
      img {
        @include circle(95px);
      }
    }
    .name {
      font-weight: 400;
      font-size: 20px;
      line-height: 29px;
      text-decoration-line: underline;
      color: #181818;
    }
  }
  .brake-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: right;
  }
  .blocks-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    grid-gap: 10px;
    .box-section {
      @include center-column;
      gap: 8px;
      padding: 15px;
      border: 1px solid #e3e3e3;
      border-radius: 4px;
      background-color: $white-color;
      transition: background-color, border, $sm-transition;
      img {
        transition: $sm-transition;
      }
      .name {
        margin-bottom: 0;
        font-weight: 400;
        font-size: 15px;
        line-height: 21px;
        text-align: center;
        color: #5b5b5b;
        transition: color $sm-transition;
      }
      &:hover {
        background-color: $blue-color;
        border-color: $blue-color;
        img {
          filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
            saturate(0%) hue-rotate(354deg) brightness(101%) contrast(102%);
        }
        .name {
          color: $white-color;
        }
      }
    }
  }
}

.profile-nav {
  .nav-link {
    border: 0;
    border-bottom: 1px solid #d6d6d6;
    border-radius: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #262424;
    &.active {
      border-bottom-color: $blue-color;
      color: $blue-color;
    }
  }
}
.tab-pane {
  padding: 20px;
}
