* {
  @include reset-all;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-family: "Cairo", sans-serif;
  font-size: 14px;
  color: $main-text-color;
}
// reset Ul
ul {
  @include reset-ul;
}
// reset Link
a {
  @include a-reset;
}
// reset btn
button {
  border: none;
  outline: none;
}
// Reset Input
input:focus,
select:focus {
  outline: none;
}
// custom Input
input {
  direction: rtl !important;
  &:focus::placeholder {
    opacity: 0;
    transition: $sm-transition;
  }
}

.right-side {
  padding: 20px;
  background-color: $white-color;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  .user-info {
    @include center-column;
    padding-bottom: 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;
    .img-holder {
      margin-bottom: 15px;
      img {
        @include circle(95px);
      }
    }
    .name {
      font-weight: 400;
      font-size: 20px;
      line-height: 29px;
      text-decoration-line: underline;
      color: #181818;
    }
  }
  .brake-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: right;
  }
  .blocks-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 10px;
    @include minWidth(lg) {
      grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    }
    .box-section {
      @include center-column;
      gap: 8px;
      padding: 15px;
      border: 1px solid #e3e3e3;
      border-radius: 4px;
      background-color: $white-color;
      transition: background-color, border, $sm-transition;
      img {
        transition: $sm-transition;
      }
      .name {
        margin-bottom: 0;
        font-weight: 400;
        font-size: 15px;
        line-height: 21px;
        text-align: center;
        color: #5b5b5b;
        transition: color $sm-transition;
      }
      &:hover {
        background-color: $blue-color;
        border-color: $blue-color;
        img {
          filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
            saturate(0%) hue-rotate(354deg) brightness(101%) contrast(102%);
        }
        .name {
          color: $white-color;
        }
      }
    }
  }
}

.content-side {
  padding: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
}

.profile-nav {
  .nav-link {
    border: 0;
    border-bottom: 1px solid #d6d6d6;
    border-radius: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #262424;
    &.active {
      border-bottom-color: $blue-color;
      color: $blue-color;
    }
  }
}
.tab-pane {
  padding: 20px;
}

// will relive
.box-photo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  .img-holder {
    img {
      @include circle(55px);
    }
  }
}

.box-attache {
  position: relative;
  width: 100%;
  padding: 20px;
  border: 1px solid #cecece;
  border-radius: 4px;
  height: 112px;
  @include center-column;
  gap: 15px;
  [type="file"] {
    @include reset-position;
    @include full-w-h;
    cursor: pointer;
    opacity: 0;
  }
  p {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    span {
      font-weight: 500;
      font-size: 12px;
    }
  }
}

.main-table {
  width: 100%;
  border-radius: 8px 8px 0px 0px;
  border: 1px solid #e0e0e0;
  thead {
    background: #f9fafc;
    tr {
      th {
        padding: 12px 13px;
        font-weight: 500;
        font-size: 16px;
        text-align: right;
      }
    }
  }
  tbody {
    background: #fff;
    tr {
      td {
        padding: 10px 13px;
        font-weight: 500;
        font-size: 14px;
        color: #7d7d7d;
        .form-check {
          .form-check-input {
            width: 3.4em !important;
            height: 1.7em;
          }
        }
      }
    }
  }
}


.box-member {
  .img-cover {
    border-radius: 4px 4px 0px 0px;
    width: 100%;
    height: 145px;
    img {
      border-radius: 4px 4px 0px 0px;
      @include cover-img;
    }
  }
  .content {
    border: 0.5px solid #cccccc;
    padding: 15px;
    border-radius: 0px 0px 4px 4px;
    .member {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      margin-bottom: 12px;
      .img-holder {
        img {
          @include circle(50px);
        }
      }
      .info {
        .name {
          font-weight: 400;
          font-size: 16px;
          text-align: right;
        }
        .job {
          margin-bottom: 0;
          font-weight: 300;
          font-size: 14px;
          text-align: right;
          color: #949494;
        }
      }
    }
    .des {
      font-weight: 300;
      font-size: 16px;
      margin-bottom: 12px;
      text-align: right;
    }
    .bar-more {
      margin-bottom: 12px;
      @include flex-between;
      .rate {
        font-weight: 600;
        font-size: 17px;
        small {
          font-weight: 500;
          font-size: 13px;
          opacity: 0.5;
        }
      }
    }
    .buy-bar {
      @include flex-between;
      .btn-holder {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 6px;
      }
      .price {
        margin-bottom: 0;
        font-weight: 700;
        font-size: 25px;
        line-height: 24px;
      }
    }
  }
}

